<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="bean3" class="com.lijianing.spring.Bean3" >
    <constructor-arg value="auto wired fucks"/>
</bean>
    <bean class="com.lijianing.spring.Bean4">
        <constructor-arg ref="bean3" />
    </bean>
</beans>